@model Hospital_Randevu.Models.Reservation

@{
    ViewData["Title"] = "AddReservation";

    Layout = "_UserLayout";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="material-symbols-outlined">
                clinical_notes
            </span>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID">

                   <option selected>Select Patient</option>

                        @foreach (var item in ViewBag.Getpatient)
                        {
                        <option value="@item.UserID">@item.UserID</option>
                        }
                  
                </select>
            </div>
            <div class="form-group">

                <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorID">
                    <option selected>Select Doctor</option>
                    @foreach (var item in ViewBag.Getdoc)
                    {
                        <option  value="@item.DoctorID">@item.FullName</option>
                    }
                </select>
            </div>
            
         
            <div class="form-group">
               
                <input asp-for="ReservationSaat" class="form-control" />
                <span asp-validation-for="ReservationSaat" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="ReservationDay" class="form-control" />
                <span asp-validation-for="ReservationDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Take" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


