<!DOCTYPE html>

<html>
<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel-rtl/">



    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">

    <!-- Favicons -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital_Randevu</title>
    <script src="https://kit.fontawesome.com/6032b0f899.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital_Randevu.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    <div class="container-fluid">
        <a class="navbar-brand" href="#"  style="padding-top:12px;"><img src="~/images/central.png" /></a>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link " href="#">
                    Appointment
                    <span class="material-symbols-outlined">
                        clinical_notes
                    </span>
             
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Doctor<span class="material-symbols-outlined">
                        stethoscope
                    </span>
                </a>
            </li>
          @*   <li class="nav-item">
                <a class="nav-link " href="#" ></a>
            </li> *@
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Profile<span class="material-symbols-outlined">
                        account_circle
                    </span>
                </a>
            </li>
        </ul>
        <div   class="btn-tugle">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-primary" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="#">
                                Appointment
                                <span class="material-symbols-outlined">
                                    clinical_notes
                                </span>

                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Doctor<span class="material-symbols-outlined">
                                    stethoscope
                                </span>
                            </a>
                        </li>
                        @*   <li class="nav-item">
                        <a class="nav-link " href="#" ></a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Profile<span class="material-symbols-outlined">
                                    account_circle
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
               
            </div>
          </div>
       
        
        </div>
        


        <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
