@{
    ViewData["Title"] = "Home Page";
    Layout = "_UserLayout";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<div class="center">

    <h1>Ways to Give</h1>
    <p>  From a one-time donation to a gift of securities, there are many different ways to support Humber River.</p>


</div>