@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Hospital_Randevu.Models.User
@{

	Layout = "_LoginLayout";
}

<header>

	<div class="login">

		<div class="clinic">
			<div class="logo"><img src="../images/central.png" alt=""></div>
			<div class="col-md-6 text-right">
				@await Html.PartialAsync("_SelectLanguagePartial")
			</div>

		</div>
		<div class="logUser">
			<div class="col-md-4">
				<p style="color:red">@ViewBag.err</p>
				<form asp-action="Login">
					
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="form-item">
						<span class="material-symbols-outlined">account_circle</span>
						<input type="text" name="Email" placeholder="@ViewData["Email"]" asp-for="Email">
						@* <span asp-validation-for="Email" class="text-danger"></span> *@
					</div>



					<div class="form-item">
						
						<span class="material-symbols-outlined">key</span>
						<input type="password" name="Password" placeholder="@ViewData["Password"]" asp-for="Password">
						@* <span asp-validation-for="Password" class="text-danger"></span> *@
					</div>


					<input type="submit" value="@ViewData["Login"]" class="btn " />
					
				</form>
				<button class="btnUp"><a asp-action="LogUp" asp-controller="Register">SingUp</a></button>
			
				
 
			</div>
		</div>

	</div>

	<div class="Icon">
	</div>

</header>
