@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Hospital_Randevu.Models.User
@{

	Layout = "_LoginLayout";
}

<header>

	<div class="login">

		<div class="clinic">
			<div class="logo"><img src="./images/central.png" alt=""></div>
			<div class="select">
				<select name="" id="">
					<option value="">En<img src="./Flag_of_the_United_Kingdom_(1-2).svg" alt=""></option>
					<option value="">Tr<img src="./Flag_of_Turkey.svg.png" alt=""></option>
				</select>
			</div>

		</div>
		<div class="logUser">
			<div class="col-md-4">
				<p style="color:red">@ViewBag.err</p>
				<form   asp-action="Login"   asp-controller="Register">

					<div class="form-item">
						<span class="material-symbols-outlined">
							account_circle
						</span><input type="text" name="" id="" placeholder="UserSurname"  asp-for="UserSurname">
					</div>
					<div class="form-item">
						<span class="material-symbols-outlined">
							key
						</span><input type="text" placeholder="Password"  asp-for="Password">
					</div>

					<input type="submit" class="btn" value="Login">



				</form>
				<button class="btnUp"><a   asp-action="LogUp"  asp-controller="Login">LogUp</a></button>
			</div>
		</div>

	</div>

	<div class="Icon">
	</div>

</header>
