@{
    ViewData["Title"] = "Home Page";
    Layout = "_UserLayout";
}

<div class="center">

    <h1>@ViewData["Welcome"]</h1>
    <h1>@ViewData["Welcome"]</h1>
    <p>  From a one-time donation to a gift of securities, there are many different ways to support Humber River.</p>


</div>