body {
}





.navbar {
    background-color: #1E90FF;
    font-family: 'Hedvig Letters Serif', serif;
    border-bottom: solid blue;
}
    .navbar .nav .nav-item {
        border-bottom: solid black;
    }
    .navbar .nav .nav-item a {
        color: white;
        font-size: 20px;
       
    }